name: Wolf Maroc Convert
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          # كنشوفو أول ملف كاين سواء .tar ولا .apk
          FILE=$(ls *.tar *.apk 2>/dev/null | head -n 1)
          
          if [ -z "$FILE" ]; then
            echo "Error: No .tar or .apk file found!"
            exit 1
          fi

          # كنجبدو السمية بلا extension (كيفما كانت .tar ولا .apk)
          FILENAME=$(basename "$FILE" | sed 's/\.[^.]*$//')
          echo "FILENAME=$FILENAME" >> $GITHUB_ENV
          
          # فك الضغط على حسب النوع
          if [[ "$FILE" == *.tar ]]; then
             tar -xvf "$FILE"
          else
             # بالنسبة لـ APK كنستعملو unzip
             unzip "$FILE" -d "$FILENAME"
          fi

          # كنقلبو على الدوسي اللي تفتح (كيف درتي فـ الكود الأصلي)
          FOLDER=$(ls -d */ | head -n 1 | sed 's/\///')
          
          # الصلاحيات والتحويل لـ .ngz
          sudo chown -R root:root "$FOLDER"
          sudo chmod -R 755 "$FOLDER"
          cd "$FOLDER"
          sudo tar --owner=0 --group=0 -cvzf "../$FILENAME.ngz" *
          
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FILENAME }}
          path: ./*.ngz
