name: Universal Tar to NGZ
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build and Pack
        run: |
          # 1. تحديد اسم الملف
          TAR_FILE=$(ls *.tar | head -n 1)
          ORIGINAL_NAME=$(echo "$TAR_FILE" | sed 's/\.tar//')
          
          # 2. فك الضغط
          mkdir -p working_dir
          tar -xvf "$TAR_FILE" -C working_dir
          
          # 3. الصلاحيات (Root)
          sudo chown -R root:root working_dir
          sudo chmod -R 755 working_dir
          
          # 4. التجميع لـ .ngz بنفس الاسم
          cd working_dir
          sudo tar --owner=0 --group=0 -cvzf "../${ORIGINAL_NAME}.ngz" *
          
          echo "FINAL_NAME=${ORIGINAL_NAME}.ngz" >> $GITHUB_ENV

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FINAL_NAME }}
          path: ${{ env.FINAL_NAME }}
