name: Wolf Remote Packer
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          tar -xvf PLUGIN.YA7YAWI.tar
          
          # إعطاء صلاحيات الروت الكاملة
          sudo chown -R root:root plugin-wolf/
          sudo chmod -R 755 plugin-wolf/

          # التجميع النهائي
          cd plugin-wolf/
          sudo tar --owner=0 --group=0 -cvzf ../Wolf_Remote.ngz *

      - uses: actions/upload-artifact@v4
        with:
          name: Plugin-Ready
          path: PLUGIN.YA7YAWI.ngz
