name: Wolf Maroc Convert
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          TAR_FILE=$(ls *.tar | head -n 1)
          tar -xvf "$TAR_FILE"
          FOLDER=$(ls -d */ | head -n 1 | sed 's/\///')
          sudo chown -R root:root "$FOLDER"
          sudo chmod -R 755 "$FOLDER"
          cd "$FOLDER"
          sudo tar --owner=0 --group=0 -cvzf ../Wolf_Remote.ngz *
      - uses: actions/upload-artifact@v4
        with:
          name: Plugin-Ready
          path: Wolf_Remote.ngz
