name: CCcam Auto Update System

on:
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests urllib3

      - name: Run CCcam Scraper
        run: python scraper.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "Badr-cx"
          git config --global user.email "badr-cx@users.noreply.github.com"
          git add CCcam.cfg
          git commit -m "Update CCcam.cfg - $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
          git push
