name: Update CCcam Servers

on:
  schedule:
    - cron: '0 */6 * * *' # يشتغل كل 6 ساعات
  workflow_dispatch: # يسمح لك بتشغيله يدوياً

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run scraper
        run: python scraper.py

      - name: Commit and push changes
        run: |
          git config --global user.name "Badr-cx"
          git config --global user.email "badr@example.com"
          git add CCcam.cfg
          git commit -m "Update servers" || exit 0
          git push
