name: CCcam Auto Update

on:
  schedule:
    - cron: '0 */3 * * *' # كايخدم بوحدو كل 3 سوايع
  workflow_dispatch:      # زر التشغيل اليدوي

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # ضروري باش يبان ليك التغيير فـ الرابط
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and Push
        run: |
          git config --global user.name "Badr-cx"
          git config --global user.email "action@github.com"
          git add CCcam.cfg
          git commit -m "Update CCcam.cfg - $(date)" || echo "No changes to commit"
          git push
